<div class="col-xs-12 well">
<h1>Gallery</h1>
    <div class="row">
        <div class="col-sm-4">
            <div class="photoBox">
                <img class="img img-responsive center-block galleryImage" src="/projects/personalWebsite/gallaryimages/ChappelXS650Cafe.jpg">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="photoBox">
                <img class="img img-responsive center-block galleryImage" src="/projects/personalWebsite/gallaryimages/cafe2.jpg">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="photoBox">
                <img class="img img-responsive center-block galleryImage" src="/projects/personalWebsite/gallaryimages/cafe5.jpg">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="photoBox">
                <img class="img img-responsive center-block galleryImage" src="/projects/personalWebsite/gallaryimages/cafe3.jpg">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="photoBox">
                <img class="img img-responsive center-block galleryImage" src="/projects/personalWebsite/gallaryimages/cafe4.jpg">
            </div>
        </div>
    </div>
</div>
